{% extends 'blog/base.html' %}
{% block title %}{% if pk %}Edit{% else %}Create{% endif %} post{% endblock %}
{% block content %}
        <h2>{% if pk %}Edit{% else %}Create{% endif %} post:</h2>
        <div>
            <form action="" method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                {% if pk %}
                <a href="{% url 'post_details' pk=pk %}">Cancel</a>
                {% else %}
                <a href="{% url 'home' %}">Cancel</a>
                {% endif %}
                <button type="submit" class="btn btn-success">Save</button>
            </form>            
        </div>
        <hr>
{% endblock %}
