{% load static %}
    <header class="container-fluid">
        <div class="row justify-content-center align-items-center">
            <h1 class="col-6">
                <img src="{% static 'blog/images/logo.png' %}" alt="" height="70">
                <a href="{% url 'home' %}">Django blog</a>
                <a href="{% url 'post_create' %}"><i class="bi bi-plus-circle-fill" style="color: green;"></i></a>
            </h1>
            <div class="col-6 d-flex justify-content-end">
                <!-- <img src="" alt="user"> -->
                <p>{% firstof user.get_short_name user.get_username %}</p>
                {% if user.is_authenticated %}
                    <a href="{% url 'login' %}"><button>Log out</button></a>
                {% else %}
                    <a href="{% url 'login' %}"><button>Log in</button></a>
                {% endif %}
            </div>
        </div>
    </header>
